<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/ssmdemo?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true"/>
        <property name="username" value="root"/>
        <property name="password" value="1"/>
    </properties>
    
    <settings>
        <!-- 开启驼峰匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启二级缓存，全局开关，这里关闭，mapper中启动了也没用 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 开启延时加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- true启用时，当延迟加载开启时访问对象中一个懒加载对象属性时，将完全加载这个对象的所有懒对象属性。
             false，当延迟加载时，按需要加载对象属性（即访问对象中一个懒对象属性，不会加载对象中其他的懒对象属性）
             默认为true
         -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!-- 插件可以加载拦截器 -->
    <!--<plugins>
        <plugin interceptor="">
            <property name="" value=""/>
        </plugin>
    </plugins>-->

    <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
    <environments default="test">
        <!-- id：唯一标识 -->
        <environment id="test">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/ssmdemo?serverTimezone=CTT&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="1"/>
            </dataSource>
        </environment>
        <environment id="development">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/> <!-- 配置了properties，所以可以直接引用 -->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

<!--    <mappers>
        <mapper resource="./mappers/MyMapper.xml" />
        <mapper resource="./mappers/UserDaoMapper.xml"/>
        <mapper resource="./mappers/UserMapper.xml"/>
        <mapper resource="./mappers/OrderMapper.xml"/>
        <mapper resource="./mappers/OrderLazyMapper.xml"/>
        &lt;!&ndash;注解方式可以使用如下配置方式&ndash;&gt;
        &lt;!&ndash;<mapper class="com.wn.mybatis.dao.UserMapper"/>&ndash;&gt;
    </mappers>-->
</configuration>